/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
}

header {
  background-color: #F4712D;
  padding: 5px 5px;
}

header h1 {
  font-size: 11pt;
  display: inline;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

#index{
  color: black;
  text-decoration: none;
}

header p:before {
  content: " | ";
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}

article {
  margin: 5px 5px;
}

article a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}


article h2 {
  display: inline;
  font-size: 10pt;
}

article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}

article h2 a {
  text-decoration: none;
  color: black;
}

article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}

article p span.points:after {
  content: " points";
}

article p span.username:before {
  content: " by ";
}

article p span.timestamp:after {
  content: ' hours ago';
}

article p span.comment-count:before {
  content: ' | ';
}

article p span.comment-count:after {
  content: ' comments | ';
}

article p span.edit {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}

article p span.edit:after {
  content: ' | ';
}

article p span.delete {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}



form {
  margin: 15px 30px;
}

form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;

}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;

}

textarea#comment-body {
  width: 530px;
  height: 215px;
}
